<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Sanity</td><td>LoginPageTest.loginTest(java.lang.String,java.lang.String)[pri:0, instance:myStoreProject.testcases.LoginPageTest@7fcbe147]<br/></td></tr>
<tr><td>Smoke</td><td>LoginPageTest.loginTest(java.lang.String,java.lang.String)[pri:0, instance:myStoreProject.testcases.LoginPageTest@7fcbe147]<br/></td></tr>
</table>
