<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="696781">  <td>22/10/21 18:07:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp(java.lang.String)[pri:0, instance:myStoreProject.testcases.LoginPageTest@7fcbe147]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="6d9386">  <td>22/10/21 18:07:24</td>   <td>49</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:myStoreProject.testcases.LoginPageTest@7fcbe147]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="696781">  <td>22/10/21 18:07:24</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest(java.lang.String,java.lang.String)[pri:0, instance:myStoreProject.testcases.LoginPageTest@7fcbe147]">loginTest</td> 
  <td>main@1324514662</td>   <td></td> </tr>
<tr bgcolor="696781">  <td>22/10/21 18:07:24</td>   <td>8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest(java.lang.String,java.lang.String)[pri:0, instance:myStoreProject.testcases.LoginPageTest@7fcbe147]">loginTest</td> 
  <td>main@1324514662</td>   <td></td> </tr>
<tr bgcolor="6d9386">  <td>22/10/21 18:07:22</td>   <td>-1283</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.loadConfig()[pri:0, instance:myStoreProject.testcases.LoginPageTest@7fcbe147]">&gt;&gt;loadConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1324514662</td>   <td></td> </tr>
<tr bgcolor="696781">  <td>22/10/21 18:07:24</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.closeBrowser()[pri:0, instance:myStoreProject.testcases.LoginPageTest@7fcbe147]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="696781">  <td>22/10/21 18:07:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp(java.lang.String)[pri:0, instance:myStoreProject.testcases.LoginPageTest@7fcbe147]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="696781">  <td>22/10/21 18:07:24</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.closeBrowser()[pri:0, instance:myStoreProject.testcases.LoginPageTest@7fcbe147]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
