<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Sanity</td><td>LoginPageTest.loginTest(java.lang.String,java.lang.String)[pri:0, instance:myStoreProject.testcases.LoginPageTest@41a90fa8]<br/></td></tr>
<tr><td>Smoke</td><td>LoginPageTest.loginTest(java.lang.String,java.lang.String)[pri:0, instance:myStoreProject.testcases.LoginPageTest@41a90fa8]<br/>IndexPageTest.verifyTitle()[pri:0, instance:myStoreProject.testcases.IndexPageTest@6b5966e1]<br/>IndexPageTest.verifyLogo()[pri:0, instance:myStoreProject.testcases.IndexPageTest@6b5966e1]<br/></td></tr>
</table>
