<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CrossBrowser</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3f9bd">  <td>22/10/21 21:09:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp(java.lang.String)[pri:0, instance:myStoreProject.testcases.LoginPageTest@41a90fa8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="b8da8e">  <td>22/10/21 21:09:33</td>   <td>19</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:myStoreProject.testcases.LoginPageTest@41a90fa8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="b3f9bd">  <td>22/10/21 21:09:33</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest(java.lang.String,java.lang.String)[pri:0, instance:myStoreProject.testcases.LoginPageTest@41a90fa8]">loginTest</td> 
  <td>TestNG-tests-1@1956746660</td>   <td></td> </tr>
<tr bgcolor="b3f9bd">  <td>22/10/21 21:09:33</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.closeBrowser()[pri:0, instance:myStoreProject.testcases.LoginPageTest@41a90fa8]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="b3f9bd">  <td>22/10/21 21:09:33</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest(java.lang.String,java.lang.String)[pri:0, instance:myStoreProject.testcases.LoginPageTest@41a90fa8]">loginTest</td> 
  <td>TestNG-tests-1@1956746660</td>   <td></td> </tr>
<tr bgcolor="b3f9bd">  <td>22/10/21 21:09:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp(java.lang.String)[pri:0, instance:myStoreProject.testcases.LoginPageTest@41a90fa8]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="b3f9bd">  <td>22/10/21 21:09:33</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.closeBrowser()[pri:0, instance:myStoreProject.testcases.LoginPageTest@41a90fa8]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="b8da8e">  <td>22/10/21 21:09:32</td>   <td>-1393</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:myStoreProject.testcases.IndexPageTest@6b5966e1]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="84da92">  <td>22/10/21 21:09:32</td>   <td>-1411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IndexPageTest.verifyTitle()[pri:0, instance:myStoreProject.testcases.IndexPageTest@6b5966e1]">verifyTitle</td> 
  <td>TestNG-tests-2@799260198</td>   <td></td> </tr>
<tr bgcolor="84da92">  <td>22/10/21 21:09:32</td>   <td>-1543</td> <td>&nbsp;</td><td title="&gt;&gt;IndexPageTest.setUp(java.lang.String)[pri:0, instance:myStoreProject.testcases.IndexPageTest@6b5966e1]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="b8da8e">  <td>22/10/21 21:09:31</td>   <td>-1895</td> <td title="&gt;&gt;BaseClass.loadConfig()[pri:0, instance:myStoreProject.testcases.IndexPageTest@6b5966e1]">&gt;&gt;loadConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1525844775</td>   <td></td> </tr>
<tr bgcolor="b8da8e">  <td>22/10/21 21:09:33</td>   <td>56</td> <td title="&lt;&lt;BaseClass.afterSuite()[pri:0, instance:myStoreProject.testcases.IndexPageTest@6b5966e1]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="84da92">  <td>22/10/21 21:09:32</td>   <td>-1462</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="IndexPageTest.verifyLogo()[pri:0, instance:myStoreProject.testcases.IndexPageTest@6b5966e1]">verifyLogo</td> 
  <td>TestNG-tests-2@799260198</td>   <td></td> </tr>
<tr bgcolor="84da92">  <td>22/10/21 21:09:32</td>   <td>-1398</td> <td>&nbsp;</td><td title="&lt;&lt;IndexPageTest.closeBrowser()[pri:0, instance:myStoreProject.testcases.IndexPageTest@6b5966e1]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
