<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>My Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="70f7aa">  <td>23/04/27 17:58:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginTest(java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:com.parabank.tests.LoginTests@553f1d75]">loginTest</td> 
  <td>main@1632789609</td>   <td></td> </tr>
<tr bgcolor="70f7aa">  <td>23/04/27 17:58:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginTest(java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:com.parabank.tests.LoginTests@553f1d75]">loginTest</td> 
  <td>main@1632789609</td>   <td></td> </tr>
<tr bgcolor="70f7aa">  <td>23/04/27 17:58:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginTest(java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:com.parabank.tests.LoginTests@553f1d75]">loginTest</td> 
  <td>main@1632789609</td>   <td></td> </tr>
<tr bgcolor="70f7aa">  <td>23/04/27 17:58:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginTest(java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:com.parabank.tests.LoginTests@553f1d75]">loginTest</td> 
  <td>main@1632789609</td>   <td></td> </tr>
<tr bgcolor="70f7aa">  <td>23/04/27 17:58:11</td>   <td>-8202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.setUp()[pri:0, instance:com.parabank.tests.LoginTests@553f1d75]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1632789609</td>   <td></td> </tr>
<tr bgcolor="70f7aa">  <td>23/04/27 17:58:11</td>   <td>-8202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.setUp()[pri:0, instance:com.parabank.tests.LoginTests@553f1d75]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1632789609</td>   <td></td> </tr>
<tr bgcolor="70f7aa">  <td>23/04/27 17:58:11</td>   <td>-8202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.setUp()[pri:0, instance:com.parabank.tests.LoginTests@553f1d75]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1632789609</td>   <td></td> </tr>
<tr bgcolor="70f7aa">  <td>23/04/27 17:58:11</td>   <td>-8202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTests.setUp()[pri:0, instance:com.parabank.tests.LoginTests@553f1d75]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1632789609</td>   <td></td> </tr>
<tr bgcolor="70f7aa">  <td>23/04/27 17:58:21</td>   <td>1967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.tearDown()[pri:0, instance:com.parabank.tests.LoginTests@553f1d75]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1632789609</td>   <td></td> </tr>
<tr bgcolor="70f7aa">  <td>23/04/27 17:58:21</td>   <td>1967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.tearDown()[pri:0, instance:com.parabank.tests.LoginTests@553f1d75]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1632789609</td>   <td></td> </tr>
<tr bgcolor="70f7aa">  <td>23/04/27 17:58:21</td>   <td>1967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.tearDown()[pri:0, instance:com.parabank.tests.LoginTests@553f1d75]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1632789609</td>   <td></td> </tr>
<tr bgcolor="70f7aa">  <td>23/04/27 17:58:21</td>   <td>1967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTests.tearDown()[pri:0, instance:com.parabank.tests.LoginTests@553f1d75]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1632789609</td>   <td></td> </tr>
</table>
