<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>AddToCartPageTest.addToCartTest(java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:myStoreProject.testcases.AddToCartPageTest@41fe9859]<br/></td></tr>
<tr><td>Sanity</td><td>AccountCreationPageTest.verifyAccountCreationPageTest(java.lang.String)[pri:0, instance:myStoreProject.testcases.AccountCreationPageTest@2c9399a4]<br/>AddToCartPageTest.addToCartTest(java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:myStoreProject.testcases.AddToCartPageTest@41fe9859]<br/>LoginPageTest.loginTest(java.lang.String,java.lang.String)[pri:0, instance:myStoreProject.testcases.LoginPageTest@191ae03f]<br/></td></tr>
<tr><td>Smoke</td><td>LoginPageTest.loginTest(java.lang.String,java.lang.String)[pri:0, instance:myStoreProject.testcases.LoginPageTest@191ae03f]<br/></td></tr>
</table>
