<h2>Methods that were not run</h2><table>
<tr><td>myStoreProject.testcases.SearchResultPageTest.productAvailabilityTest</td></tr>
<tr><td>myStoreProject.testcases.HomePageTest.orderHistoryAndDetailsTest</td></tr>
<tr><td>com.myStore.base.BaseClass.loadConfig</td></tr>
<tr><td>myStoreProject.testcases.EndToEndTest.endToEndTest</td></tr>
<tr><td>com.myStore.base.BaseClass.loadConfig</td></tr>
<tr><td>myStoreProject.testcases.OrderPageTest.verifyTotalPrice</td></tr>
<tr><td>com.myStore.base.BaseClass.loadConfig</td></tr>
<tr><td>myStoreProject.testcases.IndexPageTest.verifyTitle</td></tr>
<tr><td>com.myStore.base.BaseClass.loadConfig</td></tr>
<tr><td>com.myStore.base.BaseClass.loadConfig</td></tr>
<tr><td>myStoreProject.testcases.IndexPageTest.verifyLogo</td></tr>
<tr><td>com.myStore.base.BaseClass.loadConfig</td></tr>
<tr><td>com.myStore.base.BaseClass.loadConfig</td></tr>
<tr><td>myStoreProject.testcases.HomePageTest.wishListTest</td></tr>
</table>