<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7972d8">  <td>22/10/21 20:47:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp(java.lang.String)[pri:0, instance:myStoreProject.testcases.LoginPageTest@191ae03f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="cde7cc">  <td>22/10/21 20:47:18</td>   <td>-1400</td> <td>&nbsp;</td><td title="&gt;&gt;IndexPageTest.setUp(java.lang.String)[pri:0, instance:myStoreProject.testcases.IndexPageTest@5ac86ba5]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="8ed89b">  <td>22/10/21 20:47:18</td>   <td>-1777</td> <td title="&gt;&gt;BaseClass.loadConfig()[pri:0, instance:myStoreProject.testcases.OrderPageTest@76a36b71]">&gt;&gt;loadConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2021053848</td>   <td></td> </tr>
<tr bgcolor="7972d8">  <td>22/10/21 20:47:20</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.closeBrowser()[pri:0, instance:myStoreProject.testcases.LoginPageTest@191ae03f]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="6da36b">  <td>22/10/21 20:47:18</td>   <td>-1406</td> <td>&nbsp;</td><td title="&gt;&gt;AccountCreationPageTest.setUp(java.lang.String)[pri:0, instance:myStoreProject.testcases.AccountCreationPageTest@2c9399a4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="7972d8">  <td>22/10/21 20:47:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp(java.lang.String)[pri:0, instance:myStoreProject.testcases.LoginPageTest@191ae03f]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="6da36b">  <td>22/10/21 20:47:20</td>   <td>-159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AccountCreationPageTest.verifyAccountCreationPageTest(java.lang.String)[pri:0, instance:myStoreProject.testcases.AccountCreationPageTest@2c9399a4]">verifyAccountCreationPageTest</td> 
  <td>main@2021053848</td>   <td></td> </tr>
<tr bgcolor="7972d8">  <td>22/10/21 20:47:20</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest(java.lang.String,java.lang.String)[pri:0, instance:myStoreProject.testcases.LoginPageTest@191ae03f]">loginTest</td> 
  <td>main@2021053848</td>   <td></td> </tr>
<tr bgcolor="7972d8">  <td>22/10/21 20:47:20</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest(java.lang.String,java.lang.String)[pri:0, instance:myStoreProject.testcases.LoginPageTest@191ae03f]">loginTest</td> 
  <td>main@2021053848</td>   <td></td> </tr>
<tr bgcolor="7972d8">  <td>22/10/21 20:47:20</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.closeBrowser()[pri:0, instance:myStoreProject.testcases.LoginPageTest@191ae03f]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="cde7cc">  <td>22/10/21 20:47:20</td>   <td>40</td> <td>&nbsp;</td><td title="&lt;&lt;IndexPageTest.closeBrowser()[pri:0, instance:myStoreProject.testcases.IndexPageTest@5ac86ba5]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="6da36b">  <td>22/10/21 20:47:20</td>   <td>38</td> <td>&nbsp;</td><td title="&lt;&lt;AccountCreationPageTest.tearDown()[pri:0, instance:myStoreProject.testcases.AccountCreationPageTest@2c9399a4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
