<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>myStoreProject</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6bb9bf">  <td>22/10/20 11:44:35</td>   <td>0</td> <td title="&gt;&gt;BaseClass.beforeSuite()[pri:0, instance:myStoreProject.testcases.LoginPageTest@2cf3d63b]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@724608044</td>   <td></td> </tr>
<tr bgcolor="696781">  <td>22/10/20 11:45:06</td>   <td>30880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginPageTest.closeBrowser()[pri:0, instance:myStoreProject.testcases.LoginPageTest@2cf3d63b]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="6bb9bf">  <td>22/10/20 11:44:36</td>   <td>767</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.loadConfig()[pri:0, instance:myStoreProject.testcases.LoginPageTest@2cf3d63b]">&gt;&gt;loadConfig</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@724608044</td>   <td></td> </tr>
<tr bgcolor="696781">  <td>22/10/20 11:45:06</td>   <td>30873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.loginTest()[pri:0, instance:myStoreProject.testcases.LoginPageTest@2cf3d63b]">loginTest</td> 
  <td>main@724608044</td>   <td></td> </tr>
<tr bgcolor="696781">  <td>22/10/20 11:44:36</td>   <td>812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.setUp()[pri:0, instance:myStoreProject.testcases.LoginPageTest@2cf3d63b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@724608044</td>   <td></td> </tr>
<tr bgcolor="6bb9bf">  <td>22/10/20 11:45:06</td>   <td>30884</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:myStoreProject.testcases.LoginPageTest@2cf3d63b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
</table>
