<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b9e78c">  <td>23/04/27 19:07:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:com.parabank.tests.LoginTests@5d018107]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1091234211</td>   <td></td> </tr>
<tr bgcolor="b9e78c">  <td>23/04/27 19:07:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:com.parabank.tests.LoginTests@5d018107]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1091234211</td>   <td></td> </tr>
<tr bgcolor="b687be">  <td>23/04/27 19:07:10</td>   <td>5417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginTest(java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:com.parabank.tests.LoginTests@5d018107]">loginTest</td> 
  <td>main@1091234211</td>   <td></td> </tr>
<tr bgcolor="b687be">  <td>23/04/27 19:07:10</td>   <td>5417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginTest(java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:com.parabank.tests.LoginTests@5d018107]">loginTest</td> 
  <td>main@1091234211</td>   <td></td> </tr>
<tr bgcolor="b687be">  <td>23/04/27 19:07:10</td>   <td>5417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginTest(java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:com.parabank.tests.LoginTests@5d018107]">loginTest</td> 
  <td>main@1091234211</td>   <td></td> </tr>
<tr bgcolor="b9e78c">  <td>23/04/27 19:07:10</td>   <td>6064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.parabank.tests.LoginTests@5d018107]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1091234211</td>   <td></td> </tr>
<tr bgcolor="b9e78c">  <td>23/04/27 19:07:10</td>   <td>6064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.parabank.tests.LoginTests@5d018107]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1091234211</td>   <td></td> </tr>
<tr bgcolor="b9e78c">  <td>23/04/27 19:07:10</td>   <td>6064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.parabank.tests.LoginTests@5d018107]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1091234211</td>   <td></td> </tr>
<tr bgcolor="b687be">  <td>23/04/27 19:07:10</td>   <td>5417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTests.loginTest(java.lang.String,java.lang.String,java.lang.String)[pri:0, instance:com.parabank.tests.LoginTests@5d018107]">loginTest</td> 
  <td>main@1091234211</td>   <td></td> </tr>
<tr bgcolor="b9e78c">  <td>23/04/27 19:07:10</td>   <td>6064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.parabank.tests.LoginTests@5d018107]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1091234211</td>   <td></td> </tr>
<tr bgcolor="b9e78c">  <td>23/04/27 19:07:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:com.parabank.tests.LoginTests@5d018107]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1091234211</td>   <td></td> </tr>
<tr bgcolor="b9e78c">  <td>23/04/27 19:07:04</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:com.parabank.tests.LoginTests@5d018107]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1091234211</td>   <td></td> </tr>
</table>
